<ul class="navigation">
    <li><a href="{% url 'electronics' %}">Home</a></li>
    <li><a href="{% url 'transport' %}">Transport</a></li>
    <li><a href="{% url 'furniture' %}">Mebellar</a></li>
    <li><a href="{% url 'clothes' %}">Kiyimlar</a></li>
    <li><a href="{% url 'create' %}">Create</a></li>
    <form class="form-inline my-2 my-lg-0">
        <input class="srch"  type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="crch-btn" type="submit">Search</button>
    </form>
</ul>