{% extends 'base.html' %}
{% load static %}

{% block title %}
    Programmist page
{% endblock title %}

{% block content %}

        <p>
            PROGRAMMIST HAQQINDA!
        </p>
<div class="prhq">
    <h3>
        Assalawma aleykum menin atim Saparbaev Ilxam men 2008-jil 3-oktyabr sa'nesinde Qaraqalpaqstan Respublikasi No'kis qalasinda tuwildim.
        Hazirde 34-sanli mekteptin 9-klass oqiwshisiman bul saytti texnopos oqiw orayinda python devolopment kursinda oqip atirganda isledim.
        Magan sorawlarin'iz bolatin bolsa to'mende instagram hamde telegram akkauntlarimdi qaldirdim!
    </h3>
</div>


{% endblock %}